@charset 'utf-8';

.woman_outer_first>li:nth-of-type(1){
  background-image:url('../images/clothes/man/man_outer_1_1.png');
}
.woman_outer_first>li:nth-of-type(1):hover{
  background-image:url('../images/clothes/man/man_outer_1_2.png');
}
.woman_outer_first>li:nth-of-type(2){
  background-image:url('../images/clothes/man/man_outer_2_1.png');
}
.woman_outer_first>li:nth-of-type(2):hover{
  background-image:url('../images/clothes/man/man_outer_2_2.png');
}
.woman_outer_first>li:nth-of-type(3){
  background-image:url('../images/clothes/man/man_outer_3_1.png');
}
.woman_outer_first>li:nth-of-type(3):hover{
  background-image:url('../images/clothes/man/man_outer_3_2.png');
}
.woman_outer_first>li:nth-of-type(4){
  background-image:url('../images/clothes/man/man_outer_4_1.png');
}
.woman_outer_first>li:nth-of-type(4):hover{
  background-image:url('../images/clothes/man/man_outer_4_2.png');
}
.woman_outer_second>li:nth-of-type(1){
  background-image:url('../images/clothes/man/man_outer_5_1.png');
}
.woman_outer_second>li:nth-of-type(1):hover{
  background-image:url('../images/clothes/man/man_outer_5_2.png');
}
.woman_outer_second>li:nth-of-type(2){
  background-image:url('../images/clothes/man/man_outer_6_1.png');
}
.woman_outer_second>li:nth-of-type(2):hover{
  background-image:url('../images/clothes/man/man_outer_6_2.png');
}
.woman_outer_second>li:nth-of-type(3){
  background-image:url('../images/clothes/man/man_outer_7_1.png');
}
.woman_outer_second>li:nth-of-type(3):hover{
  background-image:url('../images/clothes/man/man_outer_7_2.png');
}
.woman_outer_second>li:nth-of-type(4){
  background-image:url('../images/clothes/man/man_outer_8_1.png');
}
.woman_outer_second>li:nth-of-type(4):hover{
  background-image:url('../images/clothes/man/man_outer_8_2.png');
}
.woman_top_first>li:nth-of-type(1){
  background-image:url('../images/clothes/man/man_top_1_1.png');
}
.woman_top_first>li:nth-of-type(1):hover{
  background-image:url('../images/clothes/man/man_top_1_2.png');
}
.woman_top_first>li:nth-of-type(2){
  background-image:url('../images/clothes/man/man_top_2_1.png');
}
.woman_top_first>li:nth-of-type(2):hover{
  background-image:url('../images/clothes/man/man_top_2_2.png');
}
.woman_top_first>li:nth-of-type(3){
  background-image:url('../images/clothes/man/man_top_3_1.png');
}
.woman_top_first>li:nth-of-type(3):hover{
  background-image:url('../images/clothes/man/man_top_3_2.png');
}
.woman_top_first>li:nth-of-type(4){
  background-image:url('../images/clothes/man/man_top_4_1.png');
}
.woman_top_first>li:nth-of-type(4):hover{
  background-image:url('../images/clothes/man/man_top_4_2.png');
}
.woman_top_second>li:nth-of-type(1){
  background-image:url('../images/clothes/man/man_top_5_1.png');
}
.woman_top_second>li:nth-of-type(1):hover{
  background-image:url('../images/clothes/man/man_top_5_2.png');
}
.woman_top_second>li:nth-of-type(2){
  background-image:url('../images/clothes/man/man_top_6_1.png');
}
.woman_top_second>li:nth-of-type(2):hover{
  background-image:url('../images/clothes/man/man_top_6_2.png');
}
.woman_top_second>li:nth-of-type(3){
  background-image:url('../images/clothes/man/man_top_7_1.png');
}
.woman_top_second>li:nth-of-type(3):hover{
  background-image:url('../images/clothes/man/man_top_7_2.png');
}
.woman_top_second>li:nth-of-type(4){
  background-image:url('../images/clothes/man/man_top_8_1.png');
}
.woman_top_second>li:nth-of-type(4):hover{
  background-image:url('../images/clothes/man/man_top_8_2.png');
}
.woman_shirts_first>li:nth-of-type(1){
  background-image:url('../images/clothes/man/man_shirts_1_1.png');
}
.woman_shirts_first>li:nth-of-type(1):hover{
  background-image:url('../images/clothes/man/man_shirts_1_2.png');
}
.woman_shirts_first>li:nth-of-type(2){
  background-image:url('../images/clothes/man/man_shirts_2_1.png');
}
.woman_shirts_first>li:nth-of-type(2):hover{
  background-image:url('../images/clothes/man/man_shirts_2_2.png');
}
.woman_shirts_first>li:nth-of-type(3){
  background-image:url('../images/clothes/man/man_shirts_3_1.png');
}
.woman_shirts_first>li:nth-of-type(3):hover{
  background-image:url('../images/clothes/man/man_shirts_3_2.png');
}
.woman_shirts_first>li:nth-of-type(4){
  background-image:url('../images/clothes/man/man_shirts_4_1.png');
}
.woman_shirts_first>li:nth-of-type(4):hover{
  background-image:url('../images/clothes/man/man_shirts_4_2.png');
}
.woman_shirts_second>li:nth-of-type(1){
  background-image:url('../images/clothes/man/man_shirts_5_1.png');
}
.woman_shirts_second>li:nth-of-type(1):hover{
  background-image:url('../images/clothes/man/man_shirts_5_2.png');
}
.woman_shirts_second>li:nth-of-type(2){
  background-image:url('../images/clothes/man/man_shirts_6_1.png');
}
.woman_shirts_second>li:nth-of-type(2):hover{
  background-image:url('../images/clothes/man/man_shirts_6_2.png');
}
.woman_shirts_second>li:nth-of-type(3){
  background-image:url('../images/clothes/man/man_shirts_7_1.png');
}
.woman_shirts_second>li:nth-of-type(3):hover{
  background-image:url('../images/clothes/man/man_shirts_7_2.png');
}
.woman_shirts_second>li:nth-of-type(4){
  background-image:url('../images/clothes/man/man_shirts_8_1.png');
}
.woman_shirts_second>li:nth-of-type(4):hover{
  background-image:url('../images/clothes/man/man_shirts_8_2.png');
}
.woman_pants_first>li:nth-of-type(1){
  background-image:url('../images/clothes/man/man_pants_1_1.png');
}
.woman_pants_first>li:nth-of-type(1):hover{
  background-image:url('../images/clothes/man/man_pants_1_2.png');
}
.woman_pants_first>li:nth-of-type(2){
  background-image:url('../images/clothes/man/man_pants_2_1.png');
}
.woman_pants_first>li:nth-of-type(2):hover{
  background-image:url('../images/clothes/man/man_pants_2_2.png');
}
.woman_pants_first>li:nth-of-type(3){
  background-image:url('../images/clothes/man/man_pants_3_1.png');
}
.woman_pants_first>li:nth-of-type(3):hover{
  background-image:url('../images/clothes/man/man_pants_3_2.png');
}
.woman_pants_first>li:nth-of-type(4){
  background-image:url('../images/clothes/man/man_pants_4_1.png');
}
.woman_pants_first>li:nth-of-type(4):hover{
  background-image:url('../images/clothes/man/man_pants_4_2.png');
}
.woman_pants_second>li:nth-of-type(1){
  background-image:url('../images/clothes/man/man_pants_5_1.png');
}
.woman_pants_second>li:nth-of-type(1):hover{
  background-image:url('../images/clothes/man/man_pants_5_2.png');
}
.woman_pants_second>li:nth-of-type(2){
  background-image:url('../images/clothes/man/man_pants_6_1.png');
}
.woman_pants_second>li:nth-of-type(2):hover{
  background-image:url('../images/clothes/man/man_pants_6_2.png');
}
.woman_pants_second>li:nth-of-type(3){
  background-image:url('../images/clothes/man/man_pants_7_1.png');
}
.woman_pants_second>li:nth-of-type(3):hover{
  background-image:url('../images/clothes/man/man_pants_7_2.png');
}
.woman_pants_second>li:nth-of-type(4){
  background-image:url('../images/clothes/man/man_pants_8_1.png');
}
.woman_pants_second>li:nth-of-type(4):hover{
  background-image:url('../images/clothes/man/man_pants_8_2.png');
}
.woman_shoes_first>li:nth-of-type(1){
  background-image:url('../images/clothes/man/man_shoes_1_1.png');
}
.woman_shoes_first>li:nth-of-type(1):hover{
  background-image:url('../images/clothes/man/man_shoes_1_2.png');
}
.woman_shoes_first>li:nth-of-type(2){
  background-image:url('../images/clothes/man/man_shoes_2_1.png');
}
.woman_shoes_first>li:nth-of-type(2):hover{
  background-image:url('../images/clothes/man/man_shoes_2_2.png');
}
.woman_shoes_first>li:nth-of-type(3){
  background-image:url('../images/clothes/man/man_shoes_3_1.png');
}
.woman_shoes_first>li:nth-of-type(3):hover{
  background-image:url('../images/clothes/man/man_shoes_3_2.png');
}
.woman_shoes_first>li:nth-of-type(4){
  background-image:url('../images/clothes/man/man_shoes_4_1.png');
}
.woman_shoes_first>li:nth-of-type(4):hover{
  background-image:url('../images/clothes/man/man_shoes_4_2.png');
}
.woman_shoes_second>li:nth-of-type(1){
  background-image:url('../images/clothes/man/man_shoes_5_1.png');
}
.woman_shoes_second>li:nth-of-type(1):hover{
  background-image:url('../images/clothes/man/man_shoes_5_2.png');
}
.woman_shoes_second>li:nth-of-type(2){
  background-image:url('../images/clothes/man/man_shoes_6_1.png');
}
.woman_shoes_second>li:nth-of-type(2):hover{
  background-image:url('../images/clothes/man/man_shoes_6_2.png');
}
.woman_shoes_second>li:nth-of-type(3){
  background-image:url('../images/clothes/man/man_shoes_7_1.png');
}
.woman_shoes_second>li:nth-of-type(3):hover{
  background-image:url('../images/clothes/man/man_shoes_7_2.png');
}
.woman_shoes_second>li:nth-of-type(4){
  background-image:url('../images/clothes/man/man_shoes_8_1.png');
}
.woman_shoes_second>li:nth-of-type(4):hover{
  background-image:url('../images/clothes/man/man_shoes_8_2.png');
}
.woman_acc_first>li:nth-of-type(1){
  background-image:url('../images/clothes/man/man_acc_1_1.png');
}
.woman_acc_first>li:nth-of-type(1):hover{
  background-image:url('../images/clothes/man/man_acc_1_2.png');
}
.woman_acc_first>li:nth-of-type(2){
  background-image:url('../images/clothes/man/man_acc_2_1.png');
}
.woman_acc_first>li:nth-of-type(2):hover{
  background-image:url('../images/clothes/man/man_acc_2_2.png');
}
.woman_acc_first>li:nth-of-type(3){
  background-image:url('../images/clothes/man/man_acc_3_1.png');
}
.woman_acc_first>li:nth-of-type(3):hover{
  background-image:url('../images/clothes/man/man_acc_3_2.png');
}
.woman_acc_first>li:nth-of-type(4){
  background-image:url('../images/clothes/man/man_acc_4_1.png');
}
.woman_acc_first>li:nth-of-type(4):hover{
  background-image:url('../images/clothes/man/man_acc_4_2.png');
}
.woman_acc_second>li:nth-of-type(1){
  background-image:url('../images/clothes/man/man_acc_5_1.png');
}
.woman_acc_second>li:nth-of-type(1):hover{
  background-image:url('../images/clothes/man/man_acc_5_2.png');
}
.woman_acc_second>li:nth-of-type(2){
  background-image:url('../images/clothes/man/man_acc_6_1.png');
}
.woman_acc_second>li:nth-of-type(2):hover{
  background-image:url('../images/clothes/man/man_acc_6_2.png');
}
.woman_acc_second>li:nth-of-type(3){
  background-image:url('../images/clothes/man/man_acc_7_1.png');
}
.woman_acc_second>li:nth-of-type(3):hover{
  background-image:url('../images/clothes/man/man_acc_7_2.png');
}
.woman_acc_second>li:nth-of-type(4){
  background-image:url('../images/clothes/man/man_acc_8_1.png');
}
.woman_acc_second>li:nth-of-type(4):hover{
  background-image:url('../images/clothes/man/man_acc_8_2.png');
}
.woman_bag_first>li:nth-of-type(1){
  background-image:url('../images/clothes/man/man_bag_1_1.png');
}
.woman_bag_first>li:nth-of-type(1):hover{
  background-image:url('../images/clothes/man/man_bag_1_2.png');
}
.woman_bag_first>li:nth-of-type(2){
  background-image:url('../images/clothes/man/man_bag_2_1.png');
}
.woman_bag_first>li:nth-of-type(2):hover{
  background-image:url('../images/clothes/man/man_bag_2_2.png');
}
.woman_bag_first>li:nth-of-type(3){
  background-image:url('../images/clothes/man/man_bag_3_1.png');
}
.woman_bag_first>li:nth-of-type(3):hover{
  background-image:url('../images/clothes/man/man_bag_3_2.png');
}
.woman_bag_first>li:nth-of-type(4){
  background-image:url('../images/clothes/man/man_bag_4_1.png');
}
.woman_bag_first>li:nth-of-type(4):hover{
  background-image:url('../images/clothes/man/man_bag_4_2.png');
}
.woman_bag_second>li:nth-of-type(1){
  background-image:url('../images/clothes/man/man_bag_5_1.png');
}
.woman_bag_second>li:nth-of-type(1):hover{
  background-image:url('../images/clothes/man/man_bag_5_2.png');
}
.woman_bag_second>li:nth-of-type(2){
  background-image:url('../images/clothes/man/man_bag_6_1.png');
}
.woman_bag_second>li:nth-of-type(2):hover{
  background-image:url('../images/clothes/man/man_bag_6_2.png');
}
.woman_bag_second>li:nth-of-type(3){
  background-image:url('../images/clothes/man/man_bag_7_1.png');
}
.woman_bag_second>li:nth-of-type(3):hover{
  background-image:url('../images/clothes/man/man_bag_7_2.png');
}
.woman_bag_second>li:nth-of-type(4){
  background-image:url('../images/clothes/man/man_bag_8_1.png');
}
.woman_bag_second>li:nth-of-type(4):hover{
  background-image:url('../images/clothes/man/man_bag_8_2.png');
}
.woman_suit_first>li:nth-of-type(1){
  background-image:url('../images/clothes/man/man_suit_1_1.png');
}
.woman_suit_first>li:nth-of-type(1):hover{
  background-image:url('../images/clothes/man/man_suit_1_2.png');
}
.woman_suit_first>li:nth-of-type(2){
  background-image:url('../images/clothes/man/man_suit_2_1.png');
}
.woman_suit_first>li:nth-of-type(2):hover{
  background-image:url('../images/clothes/man/man_suit_2_2.png');
}
.woman_suit_first>li:nth-of-type(3){
  background-image:url('../images/clothes/man/man_suit_3_1.png');
}
.woman_suit_first>li:nth-of-type(3):hover{
  background-image:url('../images/clothes/man/man_suit_3_2.png');
}
.woman_suit_first>li:nth-of-type(4){
  background-image:url('../images/clothes/man/man_suit_4_1.png');
}
.woman_suit_first>li:nth-of-type(4):hover{
  background-image:url('../images/clothes/man/man_suit_4_2.png');
}
.woman_suit_second>li:nth-of-type(1){
  background-image:url('../images/clothes/man/man_suit_5_1.png');
}
.woman_suit_second>li:nth-of-type(1):hover{
  background-image:url('../images/clothes/man/man_suit_5_2.png');
}
.woman_suit_second>li:nth-of-type(2){
  background-image:url('../images/clothes/man/man_suit_6_1.png');
}
.woman_suit_second>li:nth-of-type(2):hover{
  background-image:url('../images/clothes/man/man_suit_6_2.png');
}
.woman_suit_second>li:nth-of-type(3){
  background-image:url('../images/clothes/man/man_suit_7_1.png');
}
.woman_suit_second>li:nth-of-type(3):hover{
  background-image:url('../images/clothes/man/man_suit_7_2.png');
}
.woman_suit_second>li:nth-of-type(4){
  background-image:url('../images/clothes/man/man_suit_8_1.png');
}
.woman_suit_second>li:nth-of-type(4):hover{
  background-image:url('../images/clothes/man/man_suit_8_2.png');
}